PORT=3000
NODE_ENV="development"
LOG_LEVEL="debug"

PSQL_DATABASE_URL=""
PSQL_DATABASE_USER=""
PSQL_DATABASE_PASSWORD=""
PSQL_DATABASE_NAME="test"
PSQL_DATABASE_HOST=""
PSQL_DATABASE_PORT=4000

NEXT_PUBLIC_BASE_URL="https://huyndai.com"
