# ==============================================================================
# HỆ THỐNG ĐƯỢC QUẢN LÝ BỞI DOPPLER - KHÔNG TẠO FILE .ENV TẠI ĐÂY!
# File này chỉ dùng để tracking các biến cần thiết và định dạng của chúng.
# ==============================================================================

APP_ENV="development"
LOG_LEVEL="debug"

BACKEND_API_URL="http://127.0.0.1:3000"

NEXT_PUBLIC_APP_URL="http://localhost:3001"

# Upstash Redis (Serverless Rate Limiting)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
