# ==============================================================================
# HỆ THỐNG STOREFRONT (Next.js 16 Customer Portal)
# File này dùng để tracking các biến cần thiết và định dạng của chúng.
# ==============================================================================

NODE_ENV="development"
BACKEND_API_URL="http://127.0.0.1:3000"

NEXT_PUBLIC_APP_URL="http://localhost:3001"
NEXT_PUBLIC_BANK_BIN="vietinbank"
NEXT_PUBLIC_BANK_ACCOUNT_NO="123456789"
NEXT_PUBLIC_BANK_ACCOUNT_NAME="HYUNDAI NHAT NANG"
