# ==============================================================================
# HỆ THỐNG ĐƯỢC QUẢN LÝ BỞI DOPPLER - KHÔNG TẠO FILE .ENV TẠI ĐÂY!
# File này chỉ dùng để tracking các biến cần thiết và định dạng của chúng.
# ==============================================================================

NODE_ENV="development"
LOG_LEVEL="debug"

DATABASE_URL="your-db-connection-string"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

RESEND_API_KEY=""
EMAIL_FROM="Hyundai Nhat Nang <noreply@yourdomain.name.io.vn>"

NEXT_PUBLIC_APP_URL=""
